section#chat-room{
    .main-chat{
        background-color: #F5F5F566;
        .messages-area{
        padding-top: 20px;

            .msg{
                margin-top: 10px;
                p{
                    padding: 7px 36px;
                    border-radius: 5px;
                    width: fit-content;
                    margin: 0;
                }
                &.send{
                    p{
                        background-color: #2383552B;
                    }
                }
                &.receive{
                    direction: ltr;
                    p{
                        background-color: #F3F3F3;
                        // float: left;
                    }
                    text-align: left;
                }
            }
        }
        .chat-list{
            min-height: 350px;
            overflow-y: auto;
            border: 1px solid #CCCCCC;

            img{
                width: 30px;
            }
            span{
                font-size: 10px;
                color: #ABAAAA;
            }
            table{
                tr{
                    cursor: pointer;
                    :hover{
                        background-color: #CCCCCC;
                    }
                }
            }
        }
        .messages-area{
            height: 350px;
            // min-height: 250px;
            overflow-y: auto;
        }
        .send-row{
            // position: absolute;
            bottom: 0px;
            width: 100%;
            background-color: #EDEDED;
            padding: 7px;
            textarea{
                resize: none;
                border-radius: 20px;
            }
        }
    }
}

